body {
  margin: 0;
}

p {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 100px;
  padding: 10px;
  font-family: 'Sunflower', sans-serif;
}

h2, h3 {
  font-size: 60px;
  padding: 10px;
  font-family: 'Sunflower', sans-serif;

}

#research h2, #research h3, #research h4, #research h5, #research h5 {
  font-size: 25px;
  padding: 10px;
  font-family: 'Sunflower', sans-serif;
}

.skipcont a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 0.3s ease-out;
  transition: top 0.3s ease-out;
  z-index: 1;
}

ul {
padding-inline-start: 20px;
}

.skipcont a:focus {
  position: absolute;
  top: 0px;
  color: #5279c3;
}

#maincontent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  /* grid-template-rows: 100vh 45vh 50vh 100vh; */
  grid-template-rows: 100vh auto auto 100vh;
}

#landing {
  grid-column: 1/-1;
  grid-row: 1/2;
  background: #ffffff url("../images/homebg.jpg") center center;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

#landing h1 {
  text-align: center;
  margin-top: 16%;
  margin-bottom: 5%;
}

#landing .homebuttons {
  text-align: center;
}

.homebuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content:center

}

.homebuttons a {
  margin: 40px;
  /* display: block; */
  width: 200px;
}

a.umbutton, a.googlebutton, a.researchbutton{
    /* -webkit-appearance: button; */
    /* -moz-appearance: button; */
    appearance: button;
    padding: 12px;
    color: white;
    font-size: 18px;
    background-color: rgb(56, 94, 108);
    border-radius: 10px;
    /* border: 5px, black, solid; */
    text-decoration: none;
    /* color: initial; */
    font-family: 'PT Sans', sans-serif;
}

#about {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 5%;
}
#news {
  grid-column: 1/-1;
  grid-row: 4/5;
  /* background: #ffffff url("../images/homebg.jpg") */
}
#news .newpub, #news .newpaper, #news h3 {
  margin: 5%;
}

.pagehead h1 {
  font-size: 60px;
  margin: none;
  margin-left: 5%;
  font-family: 'Sunflower', sans-serif;
  margin-top: 12%;
}

.pagehead {
  background: #ffffff url("../images/homebg.jpg")
}

.newpub, .newpaper {
  margin-top: 10%;
  margin-bottom: 10%;
}
#news p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#aboutimg {
  grid-column: 1/-1;
  grid-row: 3/4;
  text-align: center;
}

.about-img {
  /* height: 90vh; */
  width: 75vw;
  /* max-height: 90%; */
  margin: 20px;
}

#research, #accordion, #media, #german, #othermedia {
  margin: 5%;
}


.nav-sections{
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  background: black;
  align-items: top;
  justify-content: center;
  width: 100vw;
  padding: 15px;
  margin:0px;
  top: 0px;
}

.navlink a{
  font-size: 20px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
}
.navlink .active{
  text-decoration: underline;
  font-weight: bold;
}

a{
  color: black;
  text-decoration: underline;
}
a:hover{
  font-weight: bold;
}

#contact {
  grid-row: 1/1;
  grid-column: 1/-1;
}

#contact-img {
  grid-column: 1/-1;
  text-align: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  }

 #contact h2 {
  position: absolute;
  top: 50%;
  text-align: center;
  right: 0%;
  left: 0%;
  color: white;
  background:rgba(4, 36, 67, 0.8);
  font-size: 30px;
  padding:40px

 }

 .footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../images/homebg.jpg");
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;

  color: black;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-weight: lighter;
  font-size: 25px;

  grid-column: 1 / -1;
  grid-row: 6 / auto;
  padding-top: 4%;
  padding-bottom: 2%;
  margin-bottom: -8px;
 }

#accordion h2{
  font-size: 35px;
}

#accordion h2:hover {
  /* background: rgb(56, 94, 108);
  color: white; */
}

/*  */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active .accordion:hover, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*  */

.all-media h2{
  font-size: 35px;
}

#accordion button {
  width: 95vw;
}

#email{
  color: white;
  text-decoration: none;
}
#contact h2{
  font-weight: normal;
}

#email:hover{
  text-decoration: underline;
}


@media screen and (min-width: 800px) {

#about {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 5%;
  text-align: center;
}

#aboutimg {
  grid-column: 3/5;
  grid-row: 2/3;
  margin: 5%;
}

.about-img {
  max-width: 75%;
  height: auto;
  margin: 0, auto;
}
