body {
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 100px;
  padding: 10px;
}

.skipcont a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 0.3s ease-out;
  transition: top 0.3s ease-out;
  z-index: 1;
}

ul {
padding-inline-start: 20px;
}

.skipcont a:focus {
  position: absolute;
  top: 0px;
  color: #5279c3;
}

maincontent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 100vh 45vh 50vh;
}

#landing {
  grid-column: 1/-1;
  grid-row: 1/2;
}

#about {
  grid-column: 1/-1;
  grid-row: 2/3;
}

#aboutimg {
  grid-column: 1/-1;
  grid-row: 3/4;
  text-align: center;
}

.about-img {
  width: 75%;
  height: auto;
  margin: 20px;
}
